body {
  background: #faebd7;
}
.image {
  width: 130px;
  border-radius: 100px;
}
hr {
  border: none;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  border-color: aquamarine;
  width: 5%;
}
h1 {
  color: mediumblue;
}
h3 {
  color: mediumblue;
}
